
/*
 * Field
 * -----
 */

/* Config, variables, utilities, functions, mixins */

$g-breakpoints: (
	782: 782px
);

@import '~@alanizcreative/formation/index';

/* Layouts */

@import '~@alanizcreative/formation/layouts/layouts';

.l-table__cell {
	@include breakpointMax( 600 ) {
		width: 100%;
		display: block;
	}
}

/* Objects */

@import 'objects/asset';
@import 'objects/multi';
@import 'objects/field';
@import 'objects/loader';
