
/*
 * Imports
 * -------
 */

@use '@alanizcreative/formation/src/config/mixins' as mix;

/*
 * Config
 * ------
 */

/* Variables */

@use '@alanizcreative/formation/src/config' with (

	$colors: (
		foreground: (
			base: #222222,
			light: #CCCCCC,
			dark: #1E1E1E
		),
		background: (
			base: #F8F8F8,
			light: #FFFFFF,
			dark: #F5F5F5
		)
	),

	$breakpoints: (
		782: 782px
	)

);
