
/*
 * Blocks
 * ------
 */

/* Utilities */

.u-disable {
	@extend %u-position-relative;
	&:after {
		content: '';
		@extend %u-position-absolute;
		@extend %u-top-0;
		@extend %u-right-0;
		@extend %u-bottom-0;
		@extend %u-left-0;
	}
}

/* Components */

.components-panel__header {
    & h2 {
        @include fontRem( 20px );
        margin: 0;
    }
}

.c-panel .components-base-control + .components-base-control {
	margin-bottom: 0 !important;
}

/* Layout */

.l-breakout {
    margin: 0;
}

.o-field {
    padding: 0;
}

/* Objects */

.o-media-wrap {
    margin: 20px 0;
}

.o-button-wrap {
    padding: 6px 0;
}

.o-remove-button {
    @extend %u-background-color-background-light;
    @extend %u-text-align-center;
    @extend %u-position-absolute;
    @extend %u-top-0;
    @extend %u-right-0;
    padding: 0;
    height: 40px;
    width: 40px;
    z-index: 10;
}

.o-remove-button__icon {
    font-size: 25px;
    line-height: 1;
    width: 40px;
}
