/**
 * Styles
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Internal variables */

$black: #1e1e1e;
$gray: #e0e0e0;

/* Base */

svg {
  fill: currentcolor;
}

/* Utilities */

.u-disable {
  pointer-events: none;
}

/* Components */

.components-panel__header {
  & h2 {
    font-size: func.calc-rem(20px);
    margin: 0;
  }
}

.components-toolbar__control.components-button:not(:disabled).is-active > svg {
  background: transparent !important;
}

.components-panel__body {
  padding: 0;
}

.components-panel__body-title {
  margin: 0 !important;
}

.components-panel__body-toggle {
  @extend %u-font-family-primary;
  @extend %u-color-foreground-dark;

  font-size: func.calc-rem(20px);
}

/* Layout */

.l-breakout {
  margin: 0;
}

.l-section {
  border-top: func.calc-rem(1px) solid $gray;
  padding: func.calc-rem(16px);
}

.o-form__field {
  padding: 0;
}

/* Objects */

.o-remove-button {
  @extend %u-color-background-light;
  @extend %u-position-absolute;
  @extend %u-top-0;
  @extend %u-right-0;

  background-color: $black;
  height: func.calc-rem(40px);
  width: func.calc-rem(40px);
  z-index: 10;
  padding: 0;
}

.o-remove-button__icon {
  margin-top: func.calc-rem(-3px);
  font-size: func.calc-rem(25px);
  line-height: 1;
}
