
/*
 * Imports
 * ------
 */

@use '@alanizcreative/formation/src/config';
@use '@alanizcreative/formation/src/utils/functions' as func;

/*
 * Styles
 * ------
 */

/* Internal variables */

$_black: #1E1E1E;
$_gray: #E0E0E0;

/* Base */

svg {
  fill: currentColor;
}

/* Utilities */

.u-disable {
  pointer-events: none;
}

/* Components */

.components-panel__header {
  & h2 {
    font-size: func.calcRem( 20px );
    margin: 0;
  }
}

.components-toolbar__control.components-button:not(:disabled).is-active > svg {
  background: transparent !important;
}

.components-panel__body {
  padding: 0;
}

.components-panel__body-title {
  margin: 0 !important;
}

.components-panel__body-toggle {
  @extend %u-font-family-primary;
  @extend %u-color-foreground-dark;
  font-size: func.calcRem( 20px );
}

/* Layout */

.l-breakout {
  margin: 0;
}

.l-section {
  border-top: func.calcRem( 1px ) solid $_gray;
  padding: func.calcRem( 16px );
}

.o-field {
  padding: 0;
}

/* Objects */

.o-remove-button {
  @extend %u-color-background-light;
  @extend %u-position-absolute;
  @extend %u-top-0;
  @extend %u-right-0;
  background-color: $_black;
  height: func.calcRem( 40px );
  width: func.calcRem( 40px );
  z-index: 10;
  padding: 0;
}

.o-remove-button__icon {
  margin-top: func.calcRem( -3px );
  font-size: func.calcRem( 25px );
  line-height: 1;
}
