
/*
 * Blocks
 * ------
 */

$_bgButton: #1E1E1E;

/* Utilities */

.u-disable {
  pointer-events: none;
}

/* Components */

.components-panel__header {
  & h2 {
    font-size: calcRem( 20px );
    margin: 0;
  }
}

/* Layout */

.l-breakout {
  margin: 0;
}

.o-field {
  padding: 0;
}

/* Objects */

.o-remove-button {
  @extend %u-color-background-light;
  @extend %u-position-absolute;
  @extend %u-top-0;
  @extend %u-right-0;
  background-color: $_bgButton;
  height: calcRem( 40px );
  width: calcRem( 40px );
  z-index: 10;
  padding: 0;
}

.o-remove-button__icon {
  margin-top: calcRem( -3px );
  font-size: calcRem( 25px );
  line-height: 1;
}
