/**
 * Asset
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Internal variables */

$gray: rgba(func.get-color("foreground-dark"), 0.2);

/* Objects */

.o-asset-row {
  margin-bottom: func.calc-rem(20px);

  &:empty {
    @extend %u-display-none;
  }
}

.o-asset {
  max-width: 30em;

  &[data-full] {
    max-width: none;
  }
}

.o-asset--link {
  max-width: 42em;
}

.o-asset__exists {
  @extend %u-background-color-background-base;

  border: func.calc-rem(1px) solid $gray;

  &,
  & > div {
    height: func.calc-rem(80px);
  }
}

.o-asset__image,
.o-asset__icon {
  max-width: func.calc-rem(200px);
  max-height: func.calc-rem(80px);

  @include mix.breakpoint-max( 782 ) {
    width: 33%;
  }
}

.o-asset__icon {
  font-size: func.calc-rem(16px);
  font-weight: 600;
  padding: 0 func.calc-rem(15px) 0 func.calc-rem(25px);
  border-radius: func.calc-rem(4px);

  &:empty {
    @extend %u-display-none;
  }
}

.o-asset__image {
  @extend %u-width-100;
  @extend %u-height-100;

  background-color: $gray;
  object-fit: contain;

  &[src=""] {
    @extend %u-display-none;
  }
}

.o-asset__name {
  @extend %u-overflow-hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 func.calc-rem(15px);
  min-width: 0;
  width: 0;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 100%;
}

.o-asset__right {
  margin-left: auto;
}

.o-asset__remove,
.o-asset__edit {
  @extend %u-background-color-background-base;
  @extend %u-position-relative;
  @extend %u-text-align-center;

  width: func.calc-rem(50px);
  height: func.calc-rem(50px);
  padding: 0;
  border: none;
  outline: none;
}
