/**
 * Settings
 */

/* Objects */

.o-toggle {
  &[data-hide="true"] {
    & .o-toggle__item {
      display: none;
    }
  }
}

.o-time {
  & label {
    width: 3.75rem;
    display: block;
    position: relative;

    &::before {
      content: ":";
      position: absolute;
      left: -0.6875rem;
      bottom: 12%;
    }
  }

  & .o-form__label {
    height: 1rem;
    opacity: 0;
  }
}
